.users {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 10px;
    padding-left: 20px;
    background: rgba(0, 0, 139, 0.78);
}

.user {
    display: grid;
    max-width: 500px;
    grid-template-columns: 100px auto;
    grid-gap: 10px;
}

.title {
    font-weight: bold;
    color: yellow;
    margin-top: 20px;
}


