.message {
    color: white;
    justify-content: start;
    border: azure 1px solid;
    border-radius: 20px;
    padding: 5px 20px 5px 5px;
    margin-bottom: 15px;
    background: #687dc0;
}

.img{
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background: azure;
}
.text {
    padding-left: 20px;
}