:root {
    --header-height: 60px;
    --sidebar-padding: 20px;
}


.app-wrapper {
    display: grid;
    grid-template-rows: var(--header-height) 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
          "h h h"
          "n c c";

    margin: 0 auto;

}

.app-wrapper-content {
    grid-area: c;
    font-size: 18px;
    background: linear-gradient(180deg, #f8d6d6, #9d6ec0);
    padding-left: 20px;
}

.App-header {
    /*background-color: #282c34;*/
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
