.content {
    grid-area: c;
    background-color: #8e8e92;
    color: white;
    padding: 20px;
    font-size: 18px;
}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background: linear-gradient(65deg, #111010, #8934c2);
}

.dialogsItems {
    padding: 10px;

}

.messageArea {
    padding: 10px;
}

.messages {
}

.messageInput{
    display: grid;
    justify-items: start;
    grid-row-gap: 10px;
}
textarea{
    width: 250px;
    height: 60px;
}

